@import "variableOverrides";
@import "materialize";

body{
  background:#e2e2e2;
}
.wrapper{
  margin-top:2em;
  @media #{$medium-and-down} {
    margin-top:1em;
  }
}

.title-header{
  font-weight:100;
  margin:0;
  height:1.5em;
  img{
    height:100%;
    vertical-align:middle;
    margin-right:0.2em;
  }
  overflow:hidden;
  white-space: nowrap;
  @media #{$medium-and-down} {
    font-size:2.6rem;
  }
}

table.connection-info{
  display:table;
  width:100%;
  table-layout:fixed;
  td{
    display:table-cell;
    width:5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.main-panel{
  max-width: 720px;
  margin: auto;
}

.wide-section{
  margin: 10px -20px;
  padding: 30px;
  padding-bottom: 50px;
  margin-top:-10px;
  position:relative;
  p:last-child{
    margin-bottom:20px;
  }
  .input-field{
    padding-top:7px;
  }
  &.last-panel{
    margin-bottom:-40px;
  }
  input, textarea{
    background:rgba(255,255,255,.5);
    margin:-10px;
    margin-top:10px;
    margin-bottom:0;
    font-size:1.8em;
    height:2em;
    padding:0 10px;
    border-bottom:3px solid rgba(255,255,255,.05)!important;
    &:focus{
      box-shadow:none!important;
      border-bottom:3px solid white!important;
    }
  }
  textarea{
    padding-top:0.5em;
    height:10em;
    font-size:1.4em;
  }
  label{
    color:$off-black;
    font-size:1em;
  }
  .btn{
    margin-top:30px;
  }
  .bg-icon{
    pointer-events:none;
    position:absolute;
    top:30px;
    right:30px;
    margin:0;
    z-index:0;
    font-size:6em;
    line-height:1em;
    opacity:0.2;
    color:black;
  }
}

.collection-item{
  cursor:pointer;
  &:hover{
    background:rgba($secondary-color, 0.1);
  }
  &.editable{
    .hilight-editable{
      color:$secondary-color;
      font-weight:bold;
    }
  }
}

.feed-info-table{
  margin:20px 0px;
  td, th{
    padding:5px 0px;
    &:first-child{
      text-align: right;
      padding-right:10px;
    }
  }
  th{
    color:$secondary-color;
    font-size:2em;
    font-weight:100;
    padding-bottom:30px;
  }
}
